* {
  margin: 0;
  padding: 10px;
  ;
}

.logo {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.logo img {
  width: 180%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  color: white;
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 3vw;
  text-shadow: 5px 5px 10px rgb(183, 0, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.login {
  color: white;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 2vw;
  text-shadow: 5px 5px 10px rgb(183, 0, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
}

.button {
  height: 100px;
  width: 100px;
  all: unset;
}



.back-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: grayscale(70%);
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
